<%# Partial que gera mensagens de erro separadas por virgula %>
<% if !msgErro.blank? %>
    <label class="error-text"><%= msgInicial %>
      <% msgErro.each do |m| %>
          <% if m == msgErro[-1] %>
              <%= m %>
          <% elsif m == msgErro[-2] %>
              <%= m %> e
          <% else %>
              <%= m %>,
          <% end %>
      <% end %></label>
<% end %>

