<%# Pagina Home %>
<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "Game Library", root_path %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><%= link_to "Home", root_path %></a></li>
        <li><%= link_to "Games", games_path %></li>
        <li> <%= link_to "Add Game", new_game_path %></li>
      </ul>
    </nav>
  </div>
</div>
<div class="inner cover">
  <h1 class="cover-heading">Games Library</h1>
  <p class="lead">A place to organize my games</p>
  <p class="lead">
    <%= link_to ('<button class="btn btn-lg btn-default">View Games</button>').html_safe, games_path %>
    <%= link_to ('<button class="btn btn-lg btn-default">Add Game</button>').html_safe, new_game_path %>
  </p>
</div>