<%# Pagina Que lista todos os jogos %>

<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "Game Library", root_path %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to "Home", root_path %></a></li>
        <li class="active"><%= link_to "Games", games_path %></li>
        <li> <%= link_to "Add Game", new_game_path %></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">Game list</h1>
  <br>
</div>

<%# Definicao do grid que gera a tabela com filtros %>

<%= define_grid(@games_grid, show_filters: :always,  hide_submit_button: true, hide_reset_button: true) do |g|

  g.column name: 'Title', attribute: 'title', detach_with_id: :title_filter, custom_filter: :auto

  g.column name: 'Platform', attribute: 'platform', detach_with_id: :platform_filter, custom_filter: :auto

  g.column name: 'Year', attribute: 'year', detach_with_id: :year_filter, custom_filter: :auto

  g.column name: 'Gender', attribute: 'gender', detach_with_id: :gender_filter, filter: false

  g.column name: 'Price', attribute: 'price', detach_with_id: :price_filter, filter: false

  g.column name: 'Rating', attribute: 'rating', detach_with_id: :rating_filter, filter: false

end %>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <label>Title Filter</label>
    <%= grid_filter @games_grid, :title_filter %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <label>Platform Filter</label>
    <%= grid_filter @games_grid, :platform_filter %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <label>Year Filter</label>
    <%= grid_filter @games_grid, :year_filter %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <label>Controls</label><br>
    <button class="btn btn-sm btn-default wg-external-submit-button" data-grid-name="grid">Submit</button>
    <button class="btn btn-sm btn-default wg-external-reset-button" data-grid-name="grid">Reset</button>
  </div>
</div>
<br><br>

<div class="inner cover row">
  <div>
    <% # Rendering the grid body %>
    <%= render_grid(@games_grid) %>
  </div>
</div>
<br><br>
<div class="row">
  <h2>Game library evaluated at:<br>
  <%= @gamesPrice %></h2>
</div>




