<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "Game Library", root_path %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to "Home", root_path %></a></li>
        <li><%= link_to "Games", games_path %></li>
        <li class="active"> <%= link_to "Add Game", new_game_path %></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">Add Game</h1>
  <br>
</div>
<div class="inner cover row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= form_for(@game) do |f| %>

        <%#= FORM Title %>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:title],
                                                                     msgInicial: "Este campo"} %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Digite o titulo do jogo'%><br>

        <%# FORM Platform %>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:platform],
                                                                     msgInicial: "Este campo"} %>
        <%= f.text_field :platform, class: 'form-control', placeholder: 'Digite a plataforma do jogo'%><br>


        <%#= FORM Gender %>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:gender],
                                                                     msgInicial: "Este campo"} %>
        <%= f.text_field :gender, class: 'form-control', placeholder: 'Digite o genero do jogo'%><br>

        <%#= FORM Ano%>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:year],
                                                                     msgInicial: "Este campo"} %>
        <%= f.text_field :year, class: 'form-control', placeholder: 'Digite o ano de lançamento'%><br>

        <%#= FORM Price %>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:price],
                                                                     msgInicial: "Este campo"} %>
        <%= f.text_field :price, class: 'form-control', placeholder: 'Digite o preço'%><br>

        <%#= FORM Rating %>
        <%= render partial: "shared/flash_error_messages", locals: { msgErro: @game.errors[:rating],
                                                                     msgInicial: "Este campo"} %>
        <%= f.number_field :rating, class: 'form-control', placeholder: 'Digite a avaliação'%><br>


      <%= f.submit "Cadastrar jogo", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
