/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-editable
 *= require cover
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";


.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #379940;
}

div#grid.wice-grid-container.table-responsive {
  background-color: #175d25;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #379940;
  border-color: #3ba344;
}

.pagination > li > a, .pagination > li > span {
  color: #1c712d;
}

.error-text {
  color: #ffb63b;
}